WebApplicationWCF/WebApplicationWCF/Connected Services/MainService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58257/EmpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58257/EmpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58257/EmpService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:58257/EmpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmployeeServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployyeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployyeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployyeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployyeeRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRecords" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SearchEmployeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SearchEmployeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployeeContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeContact" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployeeContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetData" message="tns:IEmployeeService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetDataResponse" message="tns:IEmployeeService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAllUser" message="tns:IEmployeeService_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllUserResponse" message="tns:IEmployeeService_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Insert" message="tns:IEmployeeService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/InsertResponse" message="tns:IEmployeeService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployyeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployyeeRecord" message="tns:IEmployeeService_AddEmployyeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployyeeRecordResponse" message="tns:IEmployeeService_AddEmployyeeRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeRecords" message="tns:IEmployeeService_GetEmployeeRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeRecordsResponse" message="tns:IEmployeeService_GetEmployeeRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteRecords" message="tns:IEmployeeService_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteRecordsResponse" message="tns:IEmployeeService_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SearchEmployeeRecord" message="tns:IEmployeeService_SearchEmployeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SearchEmployeeRecordResponse" message="tns:IEmployeeService_SearchEmployeeRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeContact" message="tns:IEmployeeService_UpdateEmployeeContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeContactResponse" message="tns:IEmployeeService_UpdateEmployeeContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployyeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddEmployyeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRecords">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SearchEmployeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeContact">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmployeeContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:58257/EmpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>